:root{
    --c-white: #fff;
    --c-extra:#ffffff;
    --c-skill-bg:#000;
   /*  --c-skill-fr:linear-gradient(to left, #ff0057,#ffeb3b); */
    --c-skill-fr:linear-gradient(to right, #2afd00,#f2ff03);
    --c-skill-txt:#000;
    --c-extra-hover:rgba(7, 225, 25, 0.479);
    /* navbar */
    --navbar-bg:#8d2a48;
    --navbar-active:rgb(0, 255, 221);

    --rsltbox-bg:#070f83;
    --rsltbox-hover:#101bb1;
}




*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
}
html{
    font-family:'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}
section{
    padding-top: 50px;
    max-width:1600px;
    margin: 0 auto;
    min-height: 60vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    align-items: flex-start;
    margin:0 auto;
}
.heading{
    font-size:40px;
    text-align: center;
    text-transform: uppercase;
}
/* Navbar style */
.navbar{
    max-width:1600px;
    background: var(--navbar-bg);
    width:100%;
    height:45px;
    position:sticky;
    top:0;
    display: flex;
    box-shadow: 0px 2px 5px rgb(59, 59, 59);
    justify-content: center;
    z-index:3;
    margin:0 auto;
}
.navbar .menu li{
    list-style:none;
    display: inline-block;
}
.navbar .menu li a{
    color:var(--c-white);
    text-shadow: 1px 1px 1px #000;
    font-size:18px;
    font-weight:500;
    margin-left:25px;
    transition: 0.7s;;
}
.navbar .menu li a.active{
    font-size:25px;
    color:var(--navbar-active);
}
/* Home content */
#home{
    background-color: var(--c-white);
    margin-top:-60px;
    width:100%;
}
.home-svg{
    height: auto;
    width:100%;
}
.home-content{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:10%;
}
.home-content p{
    font-size:30px;
    margin-top:10px;
}
.text-2{
    font-weight:bold;
}
.text-3 span{
    color:brown;
}
.home-image{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right:10%;
}
.profile{
    animation:zoominprofile 3s;    
    width:100%;
}
/* about */
#about{
    max-width:800px;
    margin:0px auto;
    line-height: 35px;
    letter-spacing: 1px;
    text-align: center;
    font-weight:600;
    min-height:60vh;
}
#about p{
    margin-top: 20px;
    font-size:28px;
    min-height:50vh;
}
/* Skill */
.wrap{
    width:60%;
    margin:10px auto 0;
}
/* contact */
#contact{
    height:300px;
    background-color: #8d2a48;
    margin-top: 80px;
}
/* Education */
.rslt-box{
    min-width:300px;
    max-width:450px;
    display: flex;
    flex-direction: column;
    border-radius:20px;
    background-color:var(--rsltbox-bg) ;
    margin:30px;
    padding:30px;
    transition:0.4s ease-out;
}
.rslt-box:hover{
    background-color: var(--rsltbox-hover);
    cursor: pointer;
}
.rslt-box h1{
    position: relative;
    margin-bottom:10px;
    color:#fff;
}
.rslt-box h1::after{
    content:'';
    width:100%;
    height:5px;
    position:absolute;
    background-color: #8d2a48;
    bottom:0;
    left:0;
}
table tr:nth-child(odd){
    background-color: rgba(0, 255, 255, 0.137);
    height:30px;
}
table tr:nth-child(odd){
    background-color: rgba(0, 255, 255, 0.137);
    height:30px;
}
table tr th, table tr td{
    padding:10px 20px;
    color:var(--c-white);
}
/* Contact */
#footer{
    flex-direction: row;
    min-height:45vh;
    color:var(--c-white);
    background-color: #8d2a48;
}
#footer .left{
    width:40%;
    height:100%;
    background-color: transparent;
    border-right:2px solid #4545ff;
}
#footer .left .label{
    display:block;
    margin-top:30px;
}
#footer .left .label a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:var(--c-white);
}
#footer .left .label a:hover{
    color:#c4c71d
}
#footer .left .label a:hover img{
    filter:contrast(3) brightness(2);
}
#footer .left .label a .icon{
    max-width:40px;
    max-height:40px;
    margin-right:20px;
}
#footer .right{
    width:50%;
    height:90%;
    margin-left:40px;
}
#footer .right form{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#footer .right form textarea{
    max-width:500px;
    outline: none;
    border: none;
    margin:20px;
}
#footer button{
    width:100px;
    height:40px;
    background-color: #33ff22;
    outline:none;
    border:none;
    border-radius:20px;
    margin:20px;
    cursor: pointer;
}
button:hover{
    background-color: var(--c-white);
}

@media(max-width:1200px){
    #home{
        overflow: hidden;
    }
    .home-svg{
        margin-top:-30px;

        width:auto;
    }

    .home-image{
        position:absolute;
        top:50%;
        transform: translateY(-50%);
        right:0%;
    }
    .home-content{
        left:5%;
    }
    
}
@media(max-width:992px){
    .navbar{
        flex-wrap: wrap;
    }
    #home{
        height:50vh;
        width:100%;
    }
    .home-content p{
        font-size:25px;
    }
    .home-image{
        width:30%;
    }
    .heading{
        font-size:30px;
    }
    #about p{
        font-size:20px;
        padding: 40px;
    }
    #contact{
        height:50vh;
    }
}

@media(max-width:768px){
    .home-image{
        display: none;
    }
    .home-svg{
        display: none;
    }
    #home{
        background-color: #33ff22;
    }
    .home-content{
        left:50%;
        transform: translateX(-50%);
        text-align: center;
        margin-top:-5%;
    }

    #home{
        min-height:300px;
        height:300px;
    }
    #education .row{
        flex-direction: column;
    }
    #contact{
        flex-direction: column;
        height:90vh;
    }
    .left{
        border:none;
    } 
    .right{
        border-top:2px solid #4545ff;
        margin-top:-50px;
        padding-top:20px;
        justify-content: center;
    }

    /* Menu  */
    .navbar{
        position:relative;
        height:auto;
        padding:20px 10px;
    }
    .navbar .menu{
        margin:0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .navbar .menu li{
        display: block;
        margin:10px;
    }
}
@media(max-width:576px){
    #certificate{
        margin-top: 60px;
    }
    

}


#extra-box{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#extra-box .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:300px;
    min-height: 250px;
    height:auto;
    padding:20px 30px;
    border-radius: 20%;
    box-shadow: 2px 1px 2px #000;
    margin:30px; 
    text-align:center;
    position:relative;
    overflow: hidden;
}
#extra-box .card h2, #extra-box .card p{
    color:var(--c-extra);
}
#extra-box .card img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
}
.card:hover{
    background-color: var(--c-extra-hover)
}
#certificate{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

